<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Docker/Sinatra Template - Whooo's Reading</title>

		<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
		<link rel="stylesheet" href="/css/styles.css" type="text/css">
	</head>
	<body>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>